.left {
    display: flex;
    height: 50vh;
    flex-direction: column;
}
.left_1 {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    /* margin-left: 40px */
}
.img_wrap {
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    cursor: pointer;
}
.img_wrap img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.left_2 {
    /* display: grid;
    place-self: center; */
    margin-top: 0px;
}
.left_2 img {
    width: 350px;
    height: 400px;
    object-fit: contain;
  
}
.active {
    border: 2px solid #e77600;
}

.listRev {
    min-height: 1000px;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    width: 100%;
  
    transition: background-color 0.5s;
  
    margin-top: 50px !important;
}
  
.listContainerRev {
    flex: 6;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    justify-content: flex-start;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 0 !important;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.detalleContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.detalleZoom{
    display: grid;
    margin: 0px auto auto auto;
}

.detalleDescription{
    display: grid;
    margin: 25px 20px 20px 20px;
}

.detalleTres{
    display: grid;
    margin-top: 25px;
}

.detalleComment{
    max-height: 500px;
    overflow: auto;
}

@media (max-width: 768px) {
    .detalleContainer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .detalleDescription{
        margin: 180px 20px 20px 20px;
        place-items: center;
    }
    .detalleTres{
        margin-top: 20px;
        place-items: center;
    }
}
