.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 70% ;
   
}
.button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background: rgba(131, 94, 51, 0.863);
    border: none;
    color: #fff;
}
.button:hover {
  background: rgba(152, 129, 102, 0.863);
}