.buttonReviewRemix {
  width: 100%;
  padding: 1rem;
  background-color: var(--background-detail-BtnBuy);
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-detail-BtnBuy);
  box-shadow: rgba(10, 10, 10, 0.877) 0px 2px 3px 0px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  transition: all ease-in-out 0.4s;
}
.botónReview {
  width: 768px;
  background-color: var(--background-detail-BtnBuy);
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-detail-BtnBuy);
  text-align: center;
  box-shadow: rgb(10 10 10 / 88%) 0px 2px 3px 0px;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  margin-top: 50px;
}
.summ {
  border-radius: 15px;
  padding: 1rem;
  background: white;
  font-size: 25px;
}
.summUsuario {
  margin-top: 0.25rem;
  margin-bottom: -4px;
  padding: 0.25rem 0 0.25rem 0;
  max-width: 40%;
  border: none;
  border-radius: 6px;
  color: goldenrod;
  /* background-color: rgba(0, 71, 212, 0.142); */
  /* 
   */
  font-size: 15px;
}
.summComment {
  width: 90%;
  max-height: 20%;
  padding-top: 0.25rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
  text-align: left;
  color: black;
  background-color: whitesmoke;
  border: 2px solid var(--background-detail-BtnBuy);
  box-shadow: rgba(10, 10, 10, 0.877) 0px 2px 3px 0px;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.unaMas{
  align-items: flex-start;
}

@media (max-width: 768px) {
  .buttonReviewRemix {
    width: 23rem;
    padding: 1rem;
    background-color: var(--background-detail-BtnBuy);
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-detail-BtnBuy);
    box-shadow: rgba(10, 10, 10, 0.877) 0px 2px 3px 0px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    transition: all ease-in-out 0.4s;
  }
  .botónReview {
    width: 23rem;
    background-color: var(--background-detail-BtnBuy);
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-detail-BtnBuy);
    text-align: center;
    box-shadow: rgb(10 10 10 / 88%) 0px 2px 3px 0px;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
  }
  .summ {
    border-radius: 15px;
    padding: 1rem;
    background: white;
    font-size: 15px;
  }
  .summUsuario {
    margin-top: 0.25rem;
    margin-bottom: -0.55rem;
    padding: 0.25rem 0 0.25rem 0;
    max-width: 60%;
    border: none;
    border-radius: 6px;
    color: goldenrod;
    /* background-color: rgba(0, 71, 212, 0.142);
    box-shadow: rgba(72, 72, 72, 0.877) 0px 2px 5px 0px; */
    font-size: 15px;
  }
  .summComment {
    width: 90%;
    max-height: 20%;
    padding-top: 0.25rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    border-radius: 6px;
    text-align: left;
    color: black;
    background-color: whitesmoke;
    border: 2px solid var(--background-detail-BtnBuy);
    box-shadow: rgba(10, 10, 10, 0.877) 0px 2px 3px 0px;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 425px) {
  .buttonReviewRemix {
  width: 25rem;
}
  .botónReview {
    width: 24rem;
  }
}
@media (max-width: 375px) {
   .buttonReviewRemix {
  width: 23rem;
}
  .botónReview {
    width: 21rem;
  }
}
